<!DOCTYPE html>
<html lang="en-US">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="discrption" content="KD - KD999.net" />
	<meta name="keyword" content="KD - KD999.net" />

	<!--  Title -->
	<title>KD - KD999.net</title>

	<!-- Font Google -->
	<link rel="preload" href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript>
		<link href="https://fonts.googleapis.com/css2?family=Karla:wght@400;500&family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
	</noscript>

	<link rel="shortcut icon" href="assets/img/favicon.ico" type="image/x-icon" />
	<link rel="icon" href="assets/img/favicon.ico" type="image/x-icon" />

	<!-- custom styles (optional) -->
	<link href="assets/css/plugins.css" rel="stylesheet" />
	<link href="assets/css/style.css" rel="stylesheet" />
</head>

<!--classic-menu-->

<body class="v-dark dsn-effect-scroll dsn-cursor-effect dsn-ajax">


	<!-- ========== Loading Page ========== -->
	<div class="preloader">
		<span class="percent v-middle">0</span>
		<span class="loading-text text-uppercase">Loading ...</span>
		<div class="preloader-bar">
			<div class="preloader-progress"></div>
		</div>
		<h1 class="title v-middle">
			<span class="letter-stroke">KD</span>
			<span class="text-fill">KD</span>
		</h1>
	</div>
	<!-- ========== End Loading Page ========== -->


	<!-- ========== Menu ========== -->
	<div class="site-header dsn-load-animate dsn-container">
		<div class="extend-container d-flex w-100 align-items-baseline justify-content-between align-items-end">
			<div class="inner-header p-relative">
				<div class="main-logo">
					<a href="index.html" data-dsn="parallax">
						<img src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-dsn-src="assets/img/logo.png" alt="" />
					</a>
				</div>
			</div>
			<div class="menu-icon d-flex align-items-baseline">
				<div class="text-menu p-relative  font-heading text-transform-upper">
					<div class="p-absolute text-button">Menu</div>
					<div class="p-absolute text-open">Open</div>
					<div class="p-absolute text-close">Close</div>
				</div>
				<div class="icon-m" data-dsn="parallax" data-dsn-move="10">
					<span class="menu-icon-line p-relative d-inline-block icon-top"></span>
					<span class="menu-icon-line p-relative d-inline-block icon-center"></span>
					<span class="menu-icon-line p-relative d-block icon-bottom"></span>
				</div>
			</div>
			<nav class="accent-menu dsn-container main-navigation p-absolute  w-100  d-flex align-items-baseline ">
				<div class="menu-cover-title">Menu</div>
				<ul class="extend-container p-relative d-flex flex-column justify-content-center h-100">
					<li>
						<a href="calendar.html">
							<span class="dsn-title-menu">財經月曆</span>
							<span class="dsn-meta-menu">01</span>
							<span class="dsn-bg-arrow"></span>
						</a>
					</li>
					<li class="dsn-active">
						<a href="market.html">
							<span class="dsn-title-menu">全球休市市場</span>
							<span class="dsn-meta-menu">02</span>
							<span class="dsn-bg-arrow"></span>
						</a>
					</li>
					<li>
						<a href="advance.html">
							<span class="dsn-title-menu">國際大事預告</span>
							<span class="dsn-meta-menu">03</span>
							<span class="dsn-bg-arrow"></span>
						</a>
					</li>
					<li>
						<a href="https://anydesk.com/zhs/downloads/" target="_blank">
							<span class="dsn-title-menu">遠端下載</span>
							<span class="dsn-meta-menu">04</span>
							<span class="dsn-bg-arrow"></span>
						</a>
					</li>
				</ul>
				<div class="container-content  p-absolute h-100 left-60 d-flex flex-column justify-content-center">
					<div class="nav__info">
						<div class="nav-content">
							<p class="title-line">租用交易系統</p>
							<p>請洽所屬代理商</p>
						</div>
						<div class="nav-content">
							<p>
								KD999.net
							</p>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
	<!-- ========== End Menu ========== -->


	<main class="main-root" id="root">

		<transition name="fade" appear>
			<div class="modal-overlay" v-if="signinShow" @click="signinShow = false"></div>
		</transition>
		<transition name="pop" appear>
			<div class="modal" role="dialog" v-if="signinShow">
				<div class="form">
					<h1>SIGN IN 登入</h1>
					<div class="form-group">
						<label>帳號</label>
						<input type="text" placeholder="請輸入帳號">
					</div>
					<div class="form-group">
						<label>密碼
							<a href="#">忘記密碼</a>
						</label>
						<input type="text" placeholder="請輸入密碼">
					</div>
					<div class="form-group btn-group">
						<button @click="signinShow = false" class="btn btn-clear">取消</button>
						<button class="btn btn-ok">登入</button>
					</div>
				</div>
			</div>
		</transition>

		<transition name="fade" appear>
			<div class="modal-overlay" v-if="signupShow" @click="signupShow = false"></div>
		</transition>
		<transition name="pop" appear>
			<div class="modal" role="dialog" v-if="signupShow">
				<div class="form">
					<h1>SIGN UP 註冊</h1>
					<div class="form-group">
						<label>手機號碼</label>
						<input type="tel" placeholder="請輸入手機號碼">
					</div>
					<div class="form-group">
						<label>密碼</label>
						<input type="password" placeholder="請輸入密碼">
					</div>
					<div class="form-group">
						<label>密碼確認</label>
						<input type="password" placeholder="請再次輸入密碼">
					</div>
					<div class="form-group btn-group">
						<button @click="signupShow = false" class="btn btn-clear">取消</button>
						<button class="btn btn-ok">註冊</button>
					</div>
				</div>
			</div>
		</transition>

		<transition name="fade" appear>
			<div class="modal-overlay" v-if="messageShow" @click="messageShow = false"></div>
		</transition>
		<transition name="pop" appear>
			<div class="modal" role="dialog" v-if="messageShow">
				<div class="form">
					<h1>問題反饋</h1>
					<div class="form-group">
						<label>姓名</label>
						<input type="text" placeholder="請輸入姓名">
					</div>
					<div class="form-group">
						<label>行動電話</label>
						<input type="tel" placeholder="請輸入行動電話">
					</div>
					<div class="form-group">
						<label>內容</label>
						<textarea cols="30" rows="4"></textarea>
					</div>
					<div class="form-group btn-group">
						<button @click="messageShow = false" class="btn btn-clear">取消</button>
						<button class="btn btn-ok">送出</button>
					</div>
				</div>
			</div>
		</transition>

		<!-- ========== side box left ========== -->
		<div class="side-bar-full">
			<div class="side-box-left ">
				<div class="side-menu border-left border-right p-relative h-100 d-flex justify-content-center">
					<div class="page-active">
						<h2 class="text-uppercase"></h2>
					</div>
				</div>
			</div>
			<div class="side-box-right text-stroke border-right text-uppercase">
				<div class="text-inner over-hidden">
					<div class="text-stroke-box">
						<div class="text-stroke-inner">KD</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ========== End side box left ========== -->


    <div class="p-fixed before-z-index h-100 left-bar" data-overlay="5" data-dsn-ajax="img">
			<img class="cover-bg-img" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
				data-dsn-src="assets/img/slidebar.jpg" alt="">
		</div>

		<div id="dsn-scrollbar">
			<div class=" inner-content">
				<!-- ========== Header Section ========== -->
				<header class="header-pages dsn-container mb-section header-padding-top background-main">
					<div class="box-title ">

						<h1 class="title">
							<span class="letter-stroke">Recipient Market </span> <br>
							<span class="line-bg-left pl-80">全球休市市場 </span>
						</h1>

						<div class="subtitle line-shap line-shap-before d-inline-block mt-30">
							<span class="text-uppercase"> Some Of Our Latest</span>
						</div>
					</div>
				</header>
				<!-- ========== End Header Section ========== -->

				<div class="wrapper ">

					<!-- ========== Work Section ========== -->
					<section class="our-work work-list dsn-filter dsn-container dsn-filter p-relative section-margin">
            <div class="row">
              <div class="col">
                <div class="work-wrapper">
                  <div class="work-header">
                    <div class="work-header__1">
                      <div class="date-group">
                        <input id="datePicker" class="datePicker" type="date">
                      </div>
                      <div class="calendar-group">
                        <ul class="calendar-list">
                          <li>1</li>
                          <li class="text-red">2</li>
                          <li class="text-red">3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                          <li class="text-red">9</li>
                          <li class="text-red">10</li>
                          <li>11</li>
                          <li>12</li>
                          <li>13</li>
                          <li>14</li>
                          <li>15</li>
                          <li class="text-red">16</li>
                          <li class="text-red">17</li>
                          <li>18</li>
                          <li>19</li>
                          <li>20</li>
                          <li>21</li>
                          <li>22</li>
                          <li class="text-red">23</li>
                          <li class="text-red">24</li>
                          <li>25</li>
                          <li>26</li>
                          <li>27</li>
                          <li>28</li>
                          <li>29</li>
                          <li class="text-red">30</li>
                          <li class="text-red">31</li>
                        </ul>
                      </div>
                    </div>
                    <div class="work-header__2">
                      <div class="select-block">
                        <div class="select-group">
                          <div class="select-title">選擇國家</div>
                          <select>
                            <option>全球國家</option>
                          </select>
                        </div>
                        <div class="select-group">
                          <div class="select-title">選擇洲別</div>
                          <select>
                            <option>全部洲別</option>
                          </select>
                        </div>
                        <button class="link-custom v-light-head background-main image-zoom">查詢</button>
                      </div>
                    </div>
                  </div>
                  <div class="work-content">
                    <div class="table-rwd">
                      <table class="work-table">
                        <tr>
                          <th class="text-left">日期</th>
                          <th class="text-left">內容</th>
                        </tr>
                        <tr>
                          <td>2021/10/10</td>
                          <td>中華民國開國紀念日</td>
                        </tr>
                      </table>
                    </div>
                    <div class="table-rwd">
                      <table class="work-table">
                        <tr>
                          <th colspan="2" class="text-left text-primary">股票指數交易時段(台北時間)</th>
                        </tr>
                        <tr>
                          <td width="140">台灣加權指數:</td>
                          <td>09:00-13:35</td>
                        </tr>
                        <tr>
                          <td>台灣期貨指數:</td>
                          <td>008:45-13:50</td>
                        </tr>
                        <tr>
                          <td>摩台期貨指數:</td>
                          <td>08:45-13:50</td>
                        </tr>
                      </table>
                    </div>
                    <div class="work-alerts">附註：<br>1. 紅色為當日休市市場。<br>2. 下拉各國名稱將顯示各國節慶名稱與証交所休市日期,後段附加各國指數交易時段。</div>
                  </div>
                </div>
              </div>
            </div>
					</section>
					<!-- ========== End Work Section ========== -->


					<!-- ========== Footer ========== -->
					<footer class="footer border-top background-section">
						<div class="dsn-container">
							<div class="d-grid grid-sm-2">
								<div class="footer-item">
									<a href="" class="logo-footer m-auto">
										<img src="assets/img/logo.png" class="cover-bg-img">
									</a>
								</div>

								<div class="footer-item text-right">
									<div class="copyright">
										<div class="copright-text over-hidden">Copyright © 2021 KD. All rights reserved.
										</div>
									</div>
								</div>

							</div>

							<div class="footer-bottom d-grid border-top pt-30 mt-30">
								<div class="footer-item order-md-2">
									<div class="nav-footer text-right">
										<ul>
											<li class="d-inline-block over-hidden"><a class="link-hover" href="calendar.html">財經月曆</a>
											</li>
											<li class="d-inline-block over-hidden"><a class="link-hover" href="market.html">全球休市市場</a>
											</li>
											<li class="d-inline-block over-hidden"><a class="link-hover" href="advance.html">國際大事預告</a>
											</li>
											<li class="d-inline-block over-hidden"><a class="link-hover" href="https://anydesk.com/zhs/downloads/" target="_blank">遠端下載</a>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</footer>
					<!-- ========== End Footer ========== -->
				</div>
			</div>


		</div>

		<!-- ========== Contact Form Model ========== -->
		<div class="header-btn">
			<a href="#"  @click="signinShow = !signinShow">Sign in 登入</a> / <a href="#"  @click="signupShow = !signupShow">Sign up 註冊</a> / <a href="#"  @click="messageShow = !messageShow">問題反饋</a>
		</div>
		<!-- ========== End Contact Form Model ========== -->
		<!-- ========== Contact Stories ========== -->
		<div class="stories-btn">
			<div class="stories-btn-txt">租用交易系統</div>
		</div>
		<div class="dsn-stories dsn-stories-model">
			<div class="close-story"></div>
			<h3 class="title">請洽所屬代理商</h3>
		</div>
		<!-- ========== End Contact Stories ========== -->
	</main>


	<!-- ========== Cursor Page ========== -->
	<div class="cursor">

		<div class="cursor-helper">
			<span class="cursor-drag">Drag</span>
			<span class="cursor-view">View</span>
			<span class="cursor-open"><i class="fas fa-plus"></i></span>
			<span class="cursor-close">Close</span>
			<span class="cursor-play">play</span>
			<span class="cursor-next"><i class="fas fa-chevron-right"></i></span>
			<span class="cursor-prev"><i class="fas fa-chevron-left"></i></span>
		</div>

	</div>
	<!-- ========== End Cursor Page ========== -->


	<!-- ========== Scroll Right Page To Top Page ========== -->
	<div class="scroll-to-top">
		<img src="assets/img/scroll_top.svg" alt="">
		<div class="box-number v-middle">
			<span>0%</span>
		</div>
	</div>
	<!-- ========== End Scroll Right Page To Top Page ========== -->

	<!-- ========== paginate-right-page ========== -->
	<div class="dsn-paginate-right-page"></div>

	<!-- Optional JavaScript -->
	<script src="assets/js/jquery-3.1.1.min.js"></script>
	<script src="assets/js/plugins.min.js"></script>
	<script src="assets/js/dsn-grid.min.js"></script>
	<script src="assets/js/custom.js"></script>
	<script src="assets/js/vue.min.js"></script>
	<script>
		new Vue({
			el: '#root',
			data: {
				signinShow: false,
				signupShow: false,
				messageShow: false
			}
		})
    document.getElementById('datePicker').valueAsDate = new Date();
  </script>
</body>
</html>